*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/*
font-family: 'Righteous', cursive; --- Tittle, Categorys Font: Righteous
font-family: 'Roboto', sans-serif; --- Remaining of site: Roboto
*/

@media only screen and (max-width: 400px) {

    html {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*pode ser transparent também*/
      }
    
    p, a, span{
        font-family: 'Roboto', sans-serif;
    }

    /*Header*/

    .containerHeader{
        height: 92px;
        width: 100%;
        background-color: #CF2B2B;
        color: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: fixed;
        top: 0; 
        left: 0;
    }

    .containerHeader > p{
        margin-left: 21px;
        margin-top: 8px;
    }
    
    .containerHeader > p:nth-child(1){
        font-family: 'Righteous', cursive;
        font-weight: 400;
        font-size: 44px;
        margin-bottom: 5px;
    }

    .containerHeader > p:nth-child(2){
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 18px;
    }

    /*foodArea*/

    body{
        background-color: #E5E5E5;
    }

    article{
        margin-top: 123px;
        margin-left: 19px;
        margin-bottom: 92px;
    }

    .containerFood, .containerDrink, .containerDessert{
        display: flex;
        overflow-x: scroll;
    }

    .tittle > p{
        font-family: 'Righteous', cursive;
        color: #333333;
        font-size: 26px;
        margin-bottom: 17px;
    }

    .painel{
        background-color: #ffffff;
        height: 215px;
        width: 172px;
        box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
        border-radius: 9px;
        margin-bottom: 27px;
        margin-right: 16px;
        border: solid rgba(255, 255, 255, 0.966) 4px;
        cursor: pointer;
    }

   

    .painel > div{
        margin-left: 14px;
    }

    .img{
        width: 144px;
        height: 87px;
        margin-top: 18px;
        margin-bottom: 8px;
        border-radius: 4px;
        margin-left: 10px;
        object-fit: cover;
    }

    .name{
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 4px;
        width: 150px;
        height: 23px;
        
    }

    .infos{
        font-weight: 300;
        font-size: 15px;
        color: #A6A6A6;
        width: 147px;
        height: 39px;
    }

    .footerPainel{
        display: flex;
        
    }

    .price{
        font-weight: 400;
        font-size: 16px;
        color: #000000;
        margin-bottom: 13px;
        width: 66px;
        height: 19px;
    }

    .checked{
        width: 15.44px;
        height: 15.44px;
        margin-left: 63.78px;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
    }

    /*footer*/

    .footerContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        height: 92px;
        width: 414px;

        position: fixed;
        bottom: 0;
    
    }

    .buttonConfirmation{
        background: #CBCBCB;
        border-radius: 50px;
        width: 364px;
        height: 53px;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 20px;
        display: grid;
        cursor: pointer;
    }

    .textButton{
        width: 185px;
        justify-self: center;
        align-self: center;
        text-align: center;
    }


    /*Bônus*/

    .greenSquare{
        background-color: #50D074;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
        border-radius: 9px;
        width: 377px;
        height: 353px;
        position:absolute;
        left: 12px;
        right: 12px;
        top: 110px;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
    }

    .nameGreenSquare{
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 21px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 28px;
    }

    .squareFood, .squareDrink, .squareDessert{
       display: flex;
       justify-content: space-between;
       font-style: normal;
       font-size: 22px;
       line-height: 26px;
       color: #FFFFFF;
       margin-bottom: 13px;
       margin-left: 15px;
       margin-right: 15px;
    }

    .totalSquareArea{
       display: flex;
       justify-content: space-between;
       font-style: normal;
       font-weight: 700;
       font-size: 22px;
       line-height: 26px;
       letter-spacing: 0.018em;
       color: #FFFFFF;
       margin-bottom: 13px;
       margin-left: 15px;
       margin-right: 15px;
       margin-bottom: 24px;
    }

    .lastConfirmation{
        background: #FFFFFF;
        border-radius: 100px;
        width: 329px;
        height: 52px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
    }

    .lastConfirmation > p{
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.018em;
        color: #50D074;
        justify-self: center;
        align-self: center;
    }

    .cancel{
        font-weight: 700;
        font-size: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        Width:333px;
        Height:52px;
        color: #FFFFFF;
        margin-left: auto;
        margin-right: auto;
        display: grid;
    }

    /*Javacript*/

    .selector{
        border-color: #32B72F;
        transition: 1s;
    }

    .active{
        visibility: visible;
        opacity: 1;
    }

    .greenButton{
        background-color: #32B72F;
        transition: 2s;
    }

    .backfilter{
        background: rgba(255, 255, 255, 0.9);
        opacity: 0.1;
        position: fixed;
    }

    
}