*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/*
font-family: 'Righteous', cursive; --- Tittle, Categorys Font: Righteous
font-family: 'Roboto', sans-serif; --- Remaining of site: Roboto
*/

@media only screen and (max-width: 400px) {
    
    p, a, span{
        font-family: 'Roboto', sans-serif;
    }

    /*Header*/

    header{
        height: 92px;
        width: 100%;
        background-color: #CF2B2B;
        color: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: fixed;
        top: 0; 
        left: 0;
    }

    header > p{
        margin-left: 21px;
        margin-top: 8px;
    }
    
    header > p:nth-child(1){
        font-family: 'Righteous', cursive;
        font-weight: 400;
        font-size: 44px;
        margin-bottom: 5px;
    }

    header > p:nth-child(2){
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 18px;
    }

    /*foodArea*/

    body{
        background-color: #E5E5E5;
    }

    article{
        margin-top: 123px;
        margin-left: 19px;
    }

    .containerFood, .containerDrink, .containerDessert{
        display: flex;
        overflow-x: scroll;
    }

    .tittle > p{
        font-family: 'Righteous', cursive;
        color: #333333;
        font-size: 26px;
        margin-bottom: 17px;
    }
    
    .painel{
        background-color: #ffffff;
        height: 216px;
        width: 172px;
        box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
        border-radius: 9px;
        margin-bottom: 27px;
        margin-right: 16px;
        border: solid rgba(255, 255, 255, 0.966) 4px;
    }

    .painel > div{
        margin-left: 14px;
    }

    .img{
        width: 144px;
        height: 87px;
        object-fit: cover;
        margin-top: 18px;
        margin-bottom: 8px;
        border-radius: 4px;
        margin-left: 10px;
    }

    .name{
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 4px;
        width: 139px;
        height: 23px;
    }

    .infos{
        font-weight: 300;
        font-size: 15px;
        color: #A6A6A6;
        margin-bottom: 5px;
        width: 147px;
        height: 39px;
    }

    .price{
        font-weight: 400;
        font-size: 16px;
        color: #000000;
        margin-bottom: 13px;
        width: 66px;
        height: 19px;
    }

    /*footer*/

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        height: 92px;
        width: 414px;

        position: fixed;
        bottom: 0;
    
    }

    footer > div{
        background: #CBCBCB;
        border-radius: 50px;
        width: 364px;
        height: 53px;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 20px;
        display: grid;
    }

    footer > div > p{
        width: 185px;
        justify-self: center;
        align-self: center;
        text-align: center;
    }



    /*Javacript*/

    .selectorFood, .selectorDrink, .selectorDessert{
        border-color: #32B72F;
    }

    .greenButton{
        background-color: #32B72F;
    }

    
}